$gray: #555;
$gray-darker: #222;
$gray-light: #777;
$gray-medium: #bbb;
$gray-medium-light: #eaeaea;
$gray-medium-lighter: #e8e8e8;
$purple: #f9f9;
$state-danger-text: rgb(247, 12, 12);
$red: #ff0000;
$white: #fff
